<style>
    .btn{
        font-size: 16px;
        font-weight: 100;
        padding:5px;
        margin-bottom:5px;

</style>

{% for comment in comments %}
<div>
    <img style="width:50px" class="avatar avatar-sm mr-4"
         src="{{ comment.user.customer.profile_pic.url }}">
    <div class="media-body">
        <div class="small-1">
            <b>{{comment.user}}</b>
            <time class="ml-4 opacity-70 small-3">{{comment.date}}</time>
        </div>
        <p>{{ comment.content }}</p>
        <div style="padding-left:35px;">
            {% if comment.comment_replay.all|length %}
                {% include "accounts/comment.html" with comments=comment.comment_replay.all %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}