{%  extends 'accounts/main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<br>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="media-list">
                     {% include "accounts/comment.html" %}
                </div>

                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.content|as_crispy_field }}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Post</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}