{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <p>Are you sure want to delete "{{item}}"?</p>

            <form method="POST">{% csrf_token %}

                <a class="btn btn-warning" href="{% url 'home' %}">Cansel</a>

            <input class="btn btn-danger" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}