{% load static %}

<style>
  .hello-msg{
     font-size:18px;
     color:#fff;
     margin-right:20px;
  }
  .img{
     height:40px;
     width:80px;
     margin-right:10px;
     border-radius:50px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="img" src="{% static 'images/788.png' %}">
    <a class="navbar-brand" href="{% url 'home' %}">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_staff %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}">Settings</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Products</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <span class="hello-msg">Hello, {{request.user}}</span>
    <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
</nav>