{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div style="justify-content:center" class="row">
    <div class="col-md-6">
        <div style="align-items:center" class="card card-body">
            <form action="" method="post">
                {% csrf_token %}
                {{formset.management_form}}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <input class="btn btn-info" type="submit" name="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}