{%  extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h4 style="text-align:center">Your ordered products</h4>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                </tr>
                {% for order in orders %}
                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.note}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                </tr>
                {% endfor %}
            </table>
            <a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order_user' %}">Place Order</a>
        </div>
    </div>
</div>

{% endblock %}
